<h1>dish show</h1>


<section id="dish-<%= @dish.id %>">
  <h2><%= @dish.name %></h2>
  <p><%= @dish.description %> Total calories: <%= @dish.total_calories %></p>
</section>
<section id="ingredients-<%= @dish.id %>">
  <h3>Ingredients</h3>
  <ul>
    <% @dish.ingredients.each do |ingredient| %>
      <li id="ingredient_<%= ingredient.id %>"><%= ingredient.name %> 
      <%= button_to "Delete Ingredient", { controller: "dish_ingredients", action: 'destroy', id: ingredient.id, dish_id: @dish.id }, method: :delete, data: { turbo: false }, testid: "delete_ingredient_#{ingredient.id}" %></li>
    <% end %>
  </ul>
     <%= render partial: 'form', locals: {
                                      path: dish_path(@dish),
                                      method: :post,
                                      button_text: 'Submit'
																		} %>
</section>
<section id="chef-<%= @dish.id %>">
  <h3>Chef</h3>
  <p><%= @dish.chef.name %></p>
</section>


```
